@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source%20Code%20Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');

/** RESET THE FUCKING BROWSER CSS **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** ROOT VARIABLES **/


:root {
    --a: hsl(200 100% 63.2%);
    --darker: hsl(200, 58%, 49%);
    --bg: hsl(200 13.2% 19.6%);
    --color: hsl(200 100% 92.5%);
    --header-color: hsl(200 14.4% 35.4%);
    --border-radius: 5px;
    --box-shadow-i: inset 2px 2px 2px 2px var(--a);
    --box-shadow: 2px 2px 2px var(--darker);
    --font-size: 21px;
    --event: hsl(267 100% 63.2%);
    --btn-color: hsl(200 14.4% 25%);
    --bnt-border: hsl(200 14.4% 31.1%);
}

/** FONTS **/

@font-face {
  font-family: "Unscii 16 Full";
  src: url("/static/fonts/unscii-16-full.ttf") format("truetype"),
}

/** GENERAL ELEMENTS **/

/* Available fonts are "Google Sans Code" and "Unscii 16 Full" (cubyz) */
body {
    font-family: "Unscii 16 Full", monospace;
    background-color: var(--bg);
    color: var(--color);
    justify-content: center;  /* vertical center */
    align-items: center;      /* horizontal center */
    text-align: center;
    font-size: var(--font-size);
}

/* --- HEADER --- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--header-color);
    height: 70px;
    border-bottom: 2px solid var(--a);
    box-shadow: var(--box-shadow-i);
}

header nav {
    display: flex;
    gap: 1rem;
}

header nav {
    display: flex;
    gap: 1rem;
    grid-column: 2; 
}

header nav a {
    font-size: 24px;
    text-decoration: none;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}


main {
    margin-top: 50px;
    margin-left: 120px;
}

footer {
    bottom: 0px;
    position: fixed;
    padding: 5px;
    text-align: center;
    background-color: var(--header-color);
    width: 100%;
}

/** EVERY OTHER ELEMENT **/

a {
    color: var(--a);
    padding: 5px;
}

code {
  border-radius: 3px;
  font-family: 'Source Code Pro', sans-serif;
  padding: 0 3px;
  background-color: var(--header-color);
}

input, select {
    padding: 10px;
    font-size: 15px; 
    min-height: 38px;
    background-color: var(--header-color);
    border: 1px solid var(--bg);
    border-radius: var(--border-radius);
    font-family: "Unscii 16 Full", monospace;
    color: var(--a)
}

input::placeholder {
    color: var(--a);
}

input:focus {
    border: 1px solid var(--a);
    outline: none;
}

button {
    padding: 8px 20px 8px 20px;
    background-color: var(--a);
    font-family: "Unscii 16 Full";
    font-size: 18px;
    cursor: pointer;
    color: var(--btn-color);
    border: 2px solid var(--bnt-border);
    border-radius: var(--border-radius);
}

button:hover {
    background-color: var(--darker);
}

form {
    display: block;
    margin-bottom: 10px; /* spacing between elements */
}

form > * {
    margin-top: 10px;
}

/** CLASSES AND IDs **/

.special-font {
    font-family: "Unscii 16 Full";
}

.server {
    background-color: var(--header-color);
    padding: 15px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    max-width: 500px;
    max-height: 200px;
    margin: 10px;
}

.server h2 {
    font-family: "Unscii 16 Full", monospace;
    font-size: 28px;
}

.server * {
    margin: 5px;
}

.server img {
    max-width: 200px;
    max-height: 450px;
    border-radius: 5px;
    flex: 1;
}

.server info {
    flex: 2;
}

.servers_list {
    display: flex;
}

.servers {
    flex: 2;
}

.filters {
    flex: 1;
    height: 1200px;
    background-color: var(--header-color);
    border-radius: var(--border-radius);
    max-width: 350px;
    padding: 50px;
}

.event {
    background-color: var(--event);
    padding: 10px;
    border-radius: var(--border-radius);
}

.center-me-pls {
    justify-content: center;  /* vertical center */
    align-items: center;      /* horizontal center */
    text-align: center;
}
