@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source%20Code%20Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');

/** RESET THE FUCKING BROWSER CSS **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** ROOT VARIABLES **/


:root {
    --a: hsl(200 100% 63.2%);
    --darker: hsl(200, 58%, 49%);
    --bg: hsl(200 13.2% 19.6%);
    --color: hsl(200 100% 92.5%);
    --header-color: hsl(200 14.4% 35.4%);
    --border-radius: 5px;
}

/** FONTS **/

@font-face {
  font-family: "Unscii 16 Full";
  src: url("/static/fonts/unscii-16-full.ttf") format("truetype"),
}

/** GENERAL ELEMENTS **/

body {
    font-family: "Google Sans Code", monospace;
    background-color: var(--bg);
    color: var(--color);
    justify-content: center;  /* vertical center */
    align-items: center;      /* horizontal center */
    text-align: center;
}

/* --- HEADER --- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--header-color);
    height: 70px;
    border-bottom: 2px solid var(--a);
}

header nav {
    display: flex;
    gap: 1rem;
}

header nav {
    display: flex;
    gap: 1rem;
    grid-column: 2; 
}

header nav a {
    font-size: 20px;
    text-decoration: none;
}


main {
    margin-top: 50px;
    left: 60px;
}

footer {
    bottom: 0px;
    position: fixed;
    padding: 5px;
    text-align: center;
    background-color: var(--header-color);
    width: 100%;
}

/** EVERY OTHER ELEMENT **/

a {
    color: var(--a);
    padding: 5px;
}

code {
  border-radius: 3px;
  font-family: 'Source Code Pro', sans-serif;
  padding: 0 3px;
  background-color: var(--header-color);
}

input, select {
    padding: 10px;
    font-size: 15px; 
    min-height: 38px;
    background-color: var(--header-color);
    border: 1px solid var(--bg);
    border-radius: var(--border-radius);
    font-family: "Unscii 16 Full", monospace;
    color: var(--a)
}

input::placeholder {
    color: var(--a);
}

input:focus {
    border: 1px solid var(--a);
    outline: none;
}

/**
button {
    padding: 7px;
    max-width: 800px;
    background-color: var(--a);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

button:hover {
    background-color: var(--darker);
}
*/

button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}

button:before {
  display: none;
}

button:-webkit-details-marker {
  display: none;
}

form {
    display: block;
    margin-bottom: 10px; /* spacing between elements */
}

form > * {
    margin-top: 10px;
}

/** CLASSES AND IDs **/

.special-font {
    font-family: "Unscii 16 Full";
}

.server {
    margin: 5px;
    background-color: var(--header-color);
    padding: 15px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    max-width: 560px;
}

.server * {
    margin: 5px;
}

.server h2 {
    font-family: "Unscii 16 Full", monospace;
    font-size: 28px;
}

.server img {
    max-width: 200px;
    max-height: 450px;
    border-radius: 5px;
    flex: 1;
}

.server info {
    flex: 2;
}

/* DO NOT REMOVE THIS CLASS */
/* DO NOT REMOVE THIS CLASS */
.center-me-pls {
    justify-content: center;  /* vertical center */
    align-items: center;      /* horizontal center */
    text-align: center;
}
/* DO NOT REMOVE THIS CLASS */
/* DO NOT REMOVE THIS CLASS */