{{ define "content" }}

<div class="servers_list">
    <div class="filters">
        <h2>Filters</h2>
        <p>Region: Africa<br>
        Whitelist: --<br>
        Version: 0.5.2<br>
    </p>
    </div>

    <div class="servers">
        <div class="server">
            <img src="/static/img/l2.png">
            <div class="info">
                <h2>Uranium SMP</h2>
                <p class="playerCount">33 Players Online</p>
                <span class="event">EVENT</span>
                <button>Ask to join</button>
            </div>
        </div>
        
        <div class="server">
            <img src="/static/img/slab.png">
            <div class="info">
                <h2>Ashframe</h2>
                <p class="playerCount">5 654 Players Online</p>
                <button>Join</button>
            </div>
        </div>
        <div class="server">
            <img src="/static/img/warzone.png">
            <div class="info">
                <h2>Warzone 2000</h2>
                <p class="playerCount">670 Players Online</p>
                <button>Join</button>
            </div>
        </div>
        <div class="server">
            <img src="/static/img/CubyzLogo.png">
            <div class="info">
                <h2>Universal MP</h2>
                <p class="playerCount">1 237 Players Online</p>
                <button>Join</button>
            </div>
        </div>
    </div>

</div>

{{ end }}